/* Font Usinf in site */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.drag-and-drop_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: hsl(0, 27%, 87%); */
    background-color: hsla(359, 77%, 41%, 0.929);
    background-image: url(../assets/images/plus.svg);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: center center;
    z-index: 1000;
    display: none;
}
.drag-and-drop_overlay span {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    /* margin: auto; */
    transform: translate(-50%, -50%);
}
.drag-and-drop_overlay span {
    font-size: 40px;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: #fff;
}
body.dragover .drag-and-drop_overlay {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Nunito", sans-serif; */
    font-family: "Noto Sans HK", sans-serif;
}
nav a,
nav ul a {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
nav ul a:hover {
    background-color: transparent;
}
button {
    border: 0;
    height: 48px;
}
p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 13px;
}
.d-none {
    display: none !important;
}
::marker {
    display: none;
}
.container {
    max-width: 1275px;
    margin: 0 auto;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.mb-2 {
    margin-bottom: 14px;
}
.mb-5 {
    margin-bottom: 25px;
}
.gernal-btn {
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: var(--header-bg-dark) !important;
    color: var(--text-color-white) !important;
}
/* HEADER CSS START */
.site-header {
    background-color: var(--header-bg-light);
    border-bottom: 1px solid rgba(22, 26, 29, 0.2);
}
.site-header nav {
    box-shadow: none;
    background-color: var(--header-bg-light);
    height: 75px;
    max-width: 1600px;
    margin: 0 auto;
}
.site-header-signup {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.user-profile-dropdown {
    display: flex;
    align-items: center;
    gap: 9px;
}
.site-header_inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1275px;
    margin: 0 auto;
}
.site_logo {
    display: flex;
    width: 190px;
    height: 44px;
}
.site_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.site_login {
    background-color: var(--header-bg-light);
    color: var(--text-color);
}
.site_signin {
    background-color: var(--btn-bg-red);
    color: var(--text-color-white);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.site_signin:hover {
    background-color: var(--primary-hover-color);
}
.theme-btn {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 14px 32px;
}
.site-header_link-wrap {
    display: flex;
    align-items: center;
    gap: 75px;
}
.site-header-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
.site-menu {
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}
/* SIDEBAR */
.sidebar {
    width: 300px;
    position: fixed;
    z-index: 20;
    top: 0;
    height: 100%;
    background-color: #f4f4f4;
    left: -100%;
    transition: all 0.2s ease-in;
    z-index: 101;
}
.sidebar.appear {
    left: 0;
}
.sidebar_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    cursor: pointer;
    display: none;
}
.sidebar .sidebar_logo {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.sidebar .sidebar_logo img {
    width: 200px;
    object-fit: contain;
}
.sidebar_menu {
    padding: 15px 10px;
    height: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar_menu li {
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.sidebar_menu li a {
    font-size: 18px;
    color: var(--primary-color);
}

.logout {
    background-color: #fafafa;
}
.logout a {
    display: flex;
    gap: 10px;
    align-items: center;
}
body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/* SITE BANNER */
.site-banner {
    background-color: var(--banner-bg-color);
    padding-top: 10px;
    padding-bottom: 130px;
    position: relative;
    z-index: 1;
}
.site-banner_container {
    max-width: 1275px;
    margin: 0 auto;
}
.site-banner-wrap {
    display: flex;
    align-items: center;
}
.site-banner-left,
.site-banner-right {
    width: 50%;
}
.site-banner-right {
    text-align: end;
}
.site-banner-right .banner_img {
    width: 320px;
    height: 280px;
    object-fit: contain;
}
.banner-badge {
    padding: 9px 11px;
    border-radius: 6px;
    background-color: var(--primary-color);
    width: max-content;
    display: flex;
    justify-content: center;
}
.banner-badge p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: var(--text-color-white);
}
.site-banner-left h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: var(--text-color);
    margin-top: 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}
.site-banner-left span {
    color: var(--primary-color);
    display: block;
    position: relative;
}
.banner-message {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    max-width: 476px;
}
.shape {
    width: 342px;
    height: 372px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.obj_fit_contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.obj_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blur {
    width: 342px;
    height: 372px;
    position: absolute;
    right: 0;
    bottom: 0px;
    transform: rotate(-180deg);
    z-index: -1;
}
/* PERMOTION SECTION */
.pormotion_section {
    margin-bottom: 30px;
}
.pormotion_section .container {
    width: 100%;
}
.pormotion-slider_item {
    width: 100%;
    height: 160px;
    border-radius: 10px;
}
.pormotion-slider_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* CONVTER WRAP */

.converter_section .container {
    background: #ffffff;
    border: 1px solid rgba(22, 26, 29, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 30px;
    width: 100%;
    margin-top: -123px;
    position: relative;
    z-index: 2;
}
.converter_section_wrap_selection {
    display: flex;
    align-items: center;
    gap: 40px;
}
.converter_section_left {
    width: 60%;
}
.converter_section_right {
    width: 40%;
}
.converter_dropbox {
    background: rgba(186, 24, 27, 0.05);
    border: 3px dashed #ba181b;
    border-radius: 12px;
    width: 100%;
    height: 184px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.converter_dropbox input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.converter_dropbox img {
    margin-bottom: 20px;
}
.drop_file-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 12px;
    color: var(--text-color);
}
.restriction-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--text-color);
}
.converter-selection_box {
    background: #ffffff;
    border: 1px solid rgba(22, 26, 29, 0.2);
    border-radius: 6px;
    position: relative;
}
.converter-section-selection {
    display: flex;
    align-items: center;
}
.converter-selection_box p {
    width: 118px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.converter-selection_box p span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--text-color);
}
.converter_section_selection {
    display: flex;
    align-items: center;
}
.converter-dropdown-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.converter-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-color);
}
.converter-text-listed {
    margin-right: 10px;
}
.select-file {
    cursor: pointer;
    width: 180px;
    background: var(--btn-bg-red);
    border-radius: 6px;
    color: #fff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: 48px;
    display: flex;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.add-more-file {
    overflow: hidden;
    position: relative;
}
.select-file input,
.add-more-file input {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    line-height: 0;
    top: -4px;
}
.select-file:focus {
    background-color: var(--btn-bg-red);
}
.defualt-img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.file-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: var(--text-color);
}
.file-size {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color);
    margin-top: 3px;
    opacity: 0.8;
}
.converter_item {
    padding: 20px 0;
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(22, 26, 29, 0.2);
}
.converter_section_listing .converter_item:first-child {
    border-top: 1px solid rgba(22, 26, 29, 0.2);
    margin-top: 23px;
}

.converter_item_name_size {
    width: 43%;
}
.converter_item .converter-dropdown-wrap {
    width: 45%;
    flex-grow: 1;
}
.converter_item .progress_wrap {
    width: 30%;
    height: 15px;
    text-align: center;
    overflow: hidden;
}
.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #f2f2f2;
    overflow: hidden;
    border-radius: 4px;
}
.progress {
    height: 100%;
    margin: 0;
    border-radius: 0;
    background-color: var(--primary-color);
    transition: width 0.5s ease-in-out;
}

@-webkit-keyframes f {
    0% {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes f {
    0% {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress-bar-striped,
.progress-striped .progress-bar {
    background-image: linear-gradient(
        45deg,
        hsla(0, 0%, 95%, 0.8) 25%,
        transparent 0,
        transparent 50%,
        hsla(0, 100%, 99%, 0.8) 0,
        hsla(0, 0%, 95%, 0.8) 75%,
        transparent 0,
        transparent
    );
    background-size: 20px 20px;
}
.progress-bar.active,
.progress.active .progress-bar {
    -webkit-animation: f 2s linear infinite;
    animation: f 2s linear infinite;
}
.progress-bar-success {
    background-color: #ba181b63;
}

.progress-striped .progress-bar-success {
    background-image: linear-gradient(
        45deg,
        hsl(0, 0%, 100%) 25%,
        transparent 0,
        transparent 50%,
        hsl(0, 0%, 100%) 0,
        hsl(0, 0%, 98%) 75%,
        transparent 0,
        transparent
    );
}

.process-percentage {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.progress_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sr-only {
    color: #fff;
    font-size: 10px;
}
.processing-and-download-and-delete {
    max-width: max-content;
    margin-left: 20px;
    justify-content: end;
    gap: 20px;
}
.processing-and-download-and-delete {
    display: flex;
    align-items: center;
}
.processing {
    background: rgba(22, 26, 29, 0.1);
    border-radius: 6px;
    padding: 15px 0px;
    color: var(--primary-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    width: 180px;
}
.processing:focus {
    background: rgba(22, 26, 29, 0.1);
}
.downloading-btn {
    background-color: var(--primary-color);
    color: var(--text-color-white);
    padding: 15px 0px;
    border-radius: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 180px;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.downloading-btn:focus {
    background-color: var(--primary-color);
}
.converter_item_name_size {
    display: flex;
    align-items: center;
    gap: 10px;
}
.delete-button,
.check-button {
    height: auto;
    background-color: transparent;
}
.delete-button {
    cursor: pointer;
}
.add-more-file {
    background-color: var(--btn-bg-dark);
    cursor: pointer;
}
.add-more-file:focus {
    background-color: var(--btn-bg-dark);
}
.convert-file {
    background-color: var(--btn-bg-red);
    color: var(--text-color-white);
    width: 120px;
    height: 48px;
    border-radius: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.share-button {
    background-color: var(--btn-bg-red);
    color: var(--text-color-white);
    width: 120px;
    height: 48px;
    border-radius: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.converter_section_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}
.download-all-files {
    background-color: var(--btn-bg-red);
    color: var(--text-color-white);
    width: 140px;
    height: 48px;
    border-radius: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.convert-file:focus {
    background-color: var(--btn-bg-red);
}
.download-all-files:focus {
    background-color: var(--btn-bg-red);
}
.delete-button:focus {
    background-color: transparent;
}

.selection-dropdown {
    position: absolute;
    width: 146px;
    top: 58px;
    background: #ffffff;
    border: 1px solid rgba(22, 26, 29, 0.2);
    border-radius: 12px;
    padding: 13px;
    z-index: 10;
    left: -12px;
    display: none;
}
.selection-dropdown.open {
    display: block;
}
.search-format-bar {
    position: relative;
    border: 1px solid rgba(22, 26, 29, 0.2) !important;
    border-radius: 6px !important;
    display: flex;
    align-items: center;
    display: none;
}
.search-format-bar input {
    width: 100% !important;
    height: 40px;
    background: #ffffff;
    box-shadow: none !important;
    border-bottom: 0 !important;
    margin: 0 !important;
}
.search-format-bar > div {
    width: 40px;
    text-align: center;
}
.search-format-bar > div img {
    margin-top: 5px;
}
.format-tabs {
    margin-top: 16px;
    margin: 0;
}
.format-tabs .tabs {
    gap: 10px;
    display: flex;
    display: none;
}
.format-tabs .tab-nav {
    gap: 10px;
    display: flex;
}
.tabs .indicator {
    display: none;
}
.tab-nav li {
    height: 48px;
}
.tab-nav li a {
    width: 100%;
    height: 100%;
}
.tab.active .gernal-btn {
    background-color: var(--btn-bg-red) !important;
    color: var(--text-color-white) !important;
}

.tabz .tab-pane {
    display: none;
}

.tabz .tab-pane.active {
    display: block;
}
.gernal-btn.active {
    background-color: var(--btn-bg-red) !important;
    color: var(--text-color-white) !important;
}
.format_wrap {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 16px;
    margin: 0;
}
.format_wrap span {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-color);
    background: rgba(22, 26, 29, 0.1);
    border-radius: 6px;
    width: 49px;
    height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease;
}
.format_wrap span:hover {
    background-color: var(--primary-color);
    color: var(--text-color-white);
}
/* How its work */
.how-its-work {
    margin-bottom: 100px;
}
.how-its-work .container {
    width: 100%;
}
.how-its-work_wrap {
    display: flex;
    padding-top: 40px;
}
.how-its-work h2 {
    text-align: center;
    /* font-family: "Nunito", sans-serif; */
    font-family: "Noto Sans HK", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-color);
}
.icons-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.how-its-work_item {
    text-align: center;
    width: 33%;
    flex-grow: 1;
}
.how-its-work_item h3 {
    /* font-family: "Nunito", sans-serif; */
    font-family: "Noto Sans HK", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}
.how-its-work_wrap .how-its-work_item {
    position: relative;
}
.how-its-work_wrap .how-its-work_item:nth-child(1):after {
    content: "";
    position: absolute;
    background-image: url(../assets/images/Arrow.svg);
    position: absolute;
    width: 200px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: contain;
    right: -85px;
    top: 0;
}
.how-its-work_wrap .how-its-work_item:nth-child(2):after {
    content: "";
    position: absolute;
    background-image: url(../assets/images/Arrow2.svg);
    position: absolute;
    width: 200px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: contain;
    right: -85px;
    bottom: 90px;
}
.converter_section_bottom {
    display: none;
}

/* RESPONSIVENESS CSS */
#next {
    background-color: var(--banner-bg-color);
    padding-top: 110px;
}
.print {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    background: transparent;
    z-index: 99999999999;
    width: 100%;
}
.p-inner {
    height: 100%;
    background: rgb(252, 186, 40);
    width: 0%;
    opacity: 1;
    color: rgb(252, 186, 40);
}
.pp-inner {
    box-shadow: rgb(252 186 40) 0px 0px 10px, rgb(252 186 40) 0px 0px 10px;
    width: 5%;
    opacity: 1;
    position: absolute;
    height: 100%;
    transform: rotate(3deg) translate(0px, -4px);
    left: -5.5%;
}
.b-1 {
    position: fixed;
    z-index: 9999;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    pointer-events: none;
}
.responsiveness_wrap {
    width: 100%;
    padding: 0 0 100px 0px;
}
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}
.display {
    position: relative;
    left: 0px;
    height: 600px;
}
.display div {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}
.responsiveness_container-wrap iframe {
    transform: scale(0.219);
    transform-origin: left top;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}
.mobile {
    background-image: url("../assets/images/iphone-optimised.png");
    position: absolute;
    width: 95px;
    height: 196px;
    top: 375px;
    left: 390px;
    z-index: 5;
}
.mobile iframe {
    width: 320px;
    height: 480px;
    top: 32px;
    left: 11px;
    overflow-y: hidden;
}
.tablet {
    background-image: url("../assets/images/ipad-optimised.png");
    width: 246px;
    height: 400px;
    z-index: 3;
    position: absolute;
    left: 210px;
    top: 230px;
}
.tablet iframe {
    width: 768px;
    height: 1024px;
    top: 35px;
    left: 38px;
    overflow-y: hidden;
}
.laptop {
    background-image: url("../assets/images/laptop-screen-optimised.png");
    width: 477px;
    height: 307px;
    top: 264px;
    left: 650px;
    position: absolute;
    z-index: 2;
}
.laptop iframe {
    width: 1280px;
    height: 802px;
    top: 26px;
    left: 60px;
    transform: scale(0.277);
    transform-origin: left top;
}
.desktop {
    position: absolute;
    width: 566px;
    height: 538px;
    background-image: url("../assets/images/large-screen-optimised.png");
    top: 0px;
    left: 310px;
    z-index: 1;
}
.desktop iframe {
    left: 28px;
    top: 38px;
    width: 1600px;
    height: 992px;
    transform: scale(0.3181);
    transform-origin: left top;
}
/* url btn */
.search_wrap {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.search_wrap input {
    font-family: "Nunito";
    height: 58px !important;
    text-indent: 25px;
    width: calc(100% - 200px);
    border: 2px solid var(--btn-bg-red) !important;
    color: var(--btn-bg-red);
    margin-bottom: 0 !important;
    border-radius: 3px !important;
}
.search_wrap input::placeholder {
    font-weight: 300;
    font-family: "Nunito";
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--btn-bg-red);
}
.search_wrap input:focus {
    box-shadow: none;
}
.search_wrap button {
    height: 63px;
    width: 200px;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding: 14px 32px;
    text-transform: uppercase;
    box-shadow: none;
    color: #fff;
    background-color: var(--btn-bg-red);
    border-radius: 3px;
}
.search_wrap .theme-btn.disabled {
    background-color: gray;
}
.search_wrap button:focus {
    box-shadow: none;
}

/* FOOTER */
.site-footer {
    background-color: var(--header-bg-dark);
}
.site-footer .container {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-footer_wrap {
    display: flex;
    gap: 40px;
}
.site-footer_left {
    width: 25%;
}
.site-footer_right {
    width: 75%;
    display: flex;
}
.footer-site-logo img {
    height: 46px;
    width: 296px;
    object-fit: contain;
}
.links_title {
    /* font-family: "Nunito"; */
    font-family: "Noto Sans HK", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: var(--text-color-white);
    text-align: left;
    position: relative;
}
.links_title::after {
    content: "";
    width: 100px;
    height: 5px;
    border-radius: 4px;
    background-color: var(--primary-color);
    bottom: -16px;
    left: 0;
    position: absolute;
}
.links_wrap {
    display: flex;
    width: 100%;
}
.links_wrap ul {
    width: 40%;
    margin-top: 40px;
}
.links_wrap ul li {
    margin-bottom: 20px;
}
.site-footer_right_links {
    text-align: start;
}
.site-footer_right_links.left {
    width: 60%;
}
.site-footer_right_links.right {
    width: 40%;
}
.site-footer_right_links.left .links_wrap ul {
    width: 25%;
}
.links_wrap li a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}
.copywrite {
    display: flex;
    justify-content: space-between;
}
.copywrite p,
.copywrite a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}
.compresser .converter_section_left {
    width: 80%;
}
.compresser .converter_section_right {
    width: 20%;
}
.p-0 {
    padding: 0;
}
.m-0 {
    margin: 0;
}

/*  */

.banner-height {
    min-height: 350px;
}
.site-banner_wrapper .site-banner-left {
    width: 100%;
    padding-top: 34px;
}
.site-banner_wrapper .banner-badge,
.site-banner_wrapper .banner-message {
    margin: 0 auto;
    text-align: center;
}
.site-banner_wrapper .site-banner-left h1 {
    text-align: center;
}
.footer_btn_wrap {
    display: flex;
    gap: 10px;
}

/* sweet alert */
.swal2-toast.swal2-error {
    background-color: #ff4d4d;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.swal2-toast.swal2-error .swal2-title {
    font-weight: bold;
    margin-top: 10px;
}

.swal2-toast.swal2-error .swal2-content {
    margin-top: 10px;
}

/* Footer link styling */
.swal2-toast.swal2-error .swal2-footer {
    margin-top: 10px;
    text-align: center;
}

.swal2-toast.swal2-error .swal2-footer a {
    color: #fff;
    text-decoration: underline;
}

.swal2-toast.swal2-error .swal2-footer a:hover {
    text-decoration: none;
}

/* blog css */
.site-banner.blog-banner {
    padding-top: 40px;
    padding-bottom: 30px;
    /* background-color: #161a1d; */
    overflow: hidden;
}
.site-banner.blog-banner h1 {
    /* color: #fff; */
}
.site-banner.blog-banner .banner-message {
    /* color: #fff; */
}
.site-banner.blog-banner h1 span {
    display: inline-block;
}
.container-wrapper .container {
    width: 90%;
}
.container-wrapper {
    padding: 50px 0;
}
.blog-wrapper .container {
    width: 85%;
}
.blog-wrapper .seacrh-bar {
    margin-top: 40px;
    margin-bottom: 15px;
}
.blog-card-wrap {
    padding: 30px 0 40px 0;
}
.blog-sec-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.card-item {
    display: block;
    /* width: 32.22222%; */
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;
    position: relative;
    display: block;
}
.card-item h3 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    line-height: 35px;
    font-weight: 500;
    margin: 0;
    padding: 10px 0;
}
.card-item_img {
    width: 100%;
    height: 260px;
}
.card-item_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.short_disc p {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #161a1d;
}
.post-time {
    display: flex;
    gap: 10px;
    align-items: center;
}
.post-time span {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    color: #161a1d;
}
.card-item-bottom {
    padding-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.card-item-bottom .waves-effect {
    position: unset;
}
.card-item-bottom .btn {
    background-color: var(--btn-bg-red);
    border-radius: 5px;
    box-shadow: none;
    font-weight: 500;
}
.streched-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    inset: 0;
}
.seacrh-bar {
    position: relative;
    width: 400px;
    margin-left: auto;
}
.seacrh-bar input {
    border-bottom: 0;
    font-family: "Nunito";
    height: 55px !important;
    text-indent: 25px;
    border: 2px solid var(--btn-bg-red) !important;
    color: var(--btn-bg-red);
    margin-bottom: 0 !important;
    border-radius: 30px !important;
    padding-left: 20px !important;
    margin-left: -20px !important;
}
.seacrh-bar input::placeholder {
    color: var(--primary-color);
}
.seacrh-bar img {
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
}
.site-banner-wrap nav {
    background-color: transparent;
    box-shadow: none;
}
.nav-wrapper .breadcrumb {
    color: #333;
}
.nav-wrapper .breadcrumb:before {
    color: #333;
}
.d-flex {
    display: flex;
}
.w-100 {
    width: 100%;
}
.px-blog-h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: var(--text-color);
    margin-bottom: 35px !important;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
}
.container-wrapper .px-content {
    width: 80%;
    margin: 0 auto;
}
.how_its_work .px-content {
    width: 100%;
    margin: 0 auto;
}
.site-banner.contact-wrapper {
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact-us-form {
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}
.contact-us-form h2 {
    font-size: 30px;
    line-height: 39px;
    text-align: start;
    font-weight: 500;
    margin-top: 20px;
}
.contact-us-form h2 span {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 7px;
    padding: 0 10px 8px 10px;
}
.contact-us-form form label {
    color: var(--primary-color);
    font-weight: 500;
}
.px-content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.px-content h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin-top: 20px;
}
.px-content p,
.px-content li {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.px-content ul {
    padding-left: 20px;
}
.px-content ul li {
    list-style-type: circle;
}
.px-content p {
    line-height: 28px;
}

.inputs_wrapper {
    display: flex;
    gap: 12px;
}
.inputs_wrapper input {
    border: 1px solid var(--primary-color) !important;
    text-align: center;
}
.inputs_wrapper input:focus {
    border: 1px solid var(--primary-color);
}
.resend-wrap .resend-btn {
    margin-left: auto;
    display: block;
    text-align: end;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
}
/* LOGIN SIGN UP CSS */
.login a {
    color: hsl(var(--hue), 90%, 50%);
    transition: color var(--trans-dur);
}
.login a:focus-visible,
.login a:hover {
    text-decoration: none;
}
.login h1 {
    font-size: 30px;
    margin: 0 0 0.75rem;
}
.login button,
.login input {
    color: var(--fg);
    font: 1em/1.5 Nunito, sans-serif;
}
.login__form-wrapper input::-webkit-outer-spin-button,
.login__form-wrapper input::-webkit-inner-spin-button {
    display: none;
}
.login,
.login__bg-img,
.login__col {
    display: flex;
}
.login,
.login__col {
    width: 100%;
    height: 100%;
}
.login__brand,
.login__copyright {
    padding: 1.5em;
}
.login__brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 0;
}
.login__btn {
    background-color: var(--btn-bg-red);
    border-radius: 0.2em;
    color: hsl(0, 0%, 100%) !important;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    outline: transparent;
    padding: 0.5em 1.5em;
    position: relative;
    width: 100%;
    transition: background-color var(--trans-dur), opacity var(--trans-dur);
    -webkit-appearance: none;
    appearance: none;
}
.login__btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.login__btn:not(:disabled):focus-visible,
.login__btn:not(:disabled):hover {
    opacity: 0.8;
}
.login__btn-spinner,
.login__btn-spinner:before,
.login__btn-spinner:after {
    animation: spinner 1s ease-in-out infinite;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    position: absolute;
}
.login__btn-spinner {
    animation-delay: -0.2s;
    display: none;
    top: 50%;
    left: 50%;
    width: 0.375em;
    height: 0.375em;
    transform: translate(-50%, -50%);
}
.login__btn-spinner:before,
.login__btn-spinner:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}
.login__btn-spinner:before {
    animation-delay: -0.4s;
    left: -0.75em;
}
.login__btn-spinner:after {
    right: -0.75em;
}
.login__btn[data-login="true"] .login__btn-label {
    visibility: hidden;
}
.login__btn[data-login="true"] .login__btn-spinner {
    display: block;
}
.login__checkbox,
.login__field {
    background-color: hsla(var(--hue), 90%, 50%, 0);
    border-radius: 0.2em;
    box-shadow: 0 0 0 1px hsl(var(--hue), 10%, 70%) inset;
    outline: transparent;
    transition: background-color var(--trans-dur), box-shadow var(--trans-dur);
    -webkit-appearance: none;
    appearance: none;
}
.login__checkbox {
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
}
.login__checkbox:before {
    color: hsla(0, 0%, 100%, 0);
    content: "\2713";
    display: block;
    line-height: 1.333;
    text-align: center;
}
.login__checkbox:checked {
    background-color: hsla(var(--hue), 90%, 50%, 1);
    box-shadow: 0 0 0 1px var(--primary) inset;
}
.login__checkbox:checked:before {
    color: hsla(0, 0%, 100%, 1);
}
.login__checkbox:focus-visible,
.login__checkbox:hover,
.login__field:focus-visible,
.login__field:hover {
    box-shadow: 0 0 0 1px var(--primary) inset;
}
.login__col {
    flex-direction: column;
    overflow-y: auto;
}
.login__copyright p {
    font-size: 0.75em;
    line-height: 2;
    margin: 0;
}
.login__field {
    padding: 0.5em 0.75em;
    width: 100%;
    height: 2.5em;
}
.login__field-group {
    margin-bottom: 0.75em;
}
.login__field-group--horz {
    display: flex;
    justify-content: space-between;
}
.login__form,
.login__form-wrapper {
    margin: auto;
}
.login__form-wrapper h1 {
    font-size: 30px;
    margin-top: 0;
    line-height: 40px;
}
.login__form-wrapper p {
    text-align: start;
}
.login__form {
    padding: 0 1.5em;
    width: 100%;
}
.login__form-wrapper {
    max-width: 22em;
}
.login__label {
    display: block;
    font-weight: 500;
}
.login__label--horz {
    font-weight: normal;
    display: flex;
    align-items: center;
}
.login__label,
.login__label + a,
.login__sign-up {
    font-size: 0.75em;
    line-height: 2;
}
.login__sign-up {
    margin: 0;
    text-align: center;
}
.login__field-group input {
    height: 35px !important;
}

/* how_its_work */

.how_its_work .section-heading p {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.how_its_work .flex-wrap h3 {
    margin: 0 0 20px 0;
}
.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0;
    gap: 15px;
}
.flex-50 {
    width: 49%;
}
.swal2-styled.swal2-confirm {
    background-color: var(--btn-bg-red);
}
.img-wrap {
    width: 100%;
    height: 400px;
}
.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

span.kicker {
    color: var(--primary-color);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
span.kicker::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
}
.invalid-feedback {
    color: #bb1b1e;
    font-size: 13px;
}
.sign-up-with-google a {
    border: 1px solid #c2c8d0;
    color: #2d333a;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
    padding: 0.5em 1.5em;
    /* font: 1em/1.5 Nunito, sans-serif; */
    border-radius: 4px;
    margin-bottom: 12px;
}
.sign-up-with-google img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.or {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    font-size: 15px;
}
.or::after {
    content: "";
    height: 1px;
    width: 45%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c2c8d0;
}
.or::before {
    content: "";
    height: 1px;
    width: 45%;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c2c8d0;
}
.pagination {
    text-align: center;
}
.pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}
.pagination .page-link {
    color: #3366cc;
    border: 1px solid #3366cc;
    padding: 5px 10px;
    text-decoration: none;
}
.pagination .page-link:hover {
    background-color: #3366cc;
    color: #fff;
}
.pagination .page-item.active .page-link {
    background-color: #3366cc;
    color: #fff;
    border-color: #3366cc;
}
.blog-card-wrap.row {
    display: flex;
    flex-wrap: wrap;
}
.blog-card-wrap.row .col.s12 {
    margin-right: auto;
    margin-left: 0;
}
.menu-wrap {
    display: flex;
    align-items: center;
}
.sec_check_responsiveness {
    padding-bottom: 40px;
}
.sec_check_row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    gap: 15px;
    text-align: center;
}
.sec_check {
    width: 100%;
}
.sec_check p {
    line-height: 28px;
    max-width: 80%;
    margin: 0 auto;
}
.h2 {
    font-family: "Noto Sans HK", sans-serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-color);
}
.sec_check img {
    margin-left: 60px;
}
.swal2-styled.swal2-confirm {
    background-color: var(--btn-bg-red);
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
    outline: 0 !important;
}
.blog_image_wrap {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}
.blog_image_wrap img {
    border-radius: 4px;
}
.no_result_found {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 0;
    margin: auto;
}
.show-on-mbl {
    display: none;
}
.bg-theme {
    background-color: var(--primary-color);
}
.text-white {
    color: #fff !important;
}
.mb-1 {
    margin-bottom: 10px !important;
}

/* section-convertion-and-format */
.section-convertion-and-format {
    padding: 50px 0;
    margin: 60px 0;
    background-color: #f4f4f4;
}
.section-convertion-and-format .container {
    width: 100%;
}
.section-convertion-and-format .flex-50 {
    border-radius: 4px;
}
.section-convertion-and-format .flex-wrap {
    padding-top: 30px;
}
.section-convertion-and-format .flex-wrap .content-p {
    min-height: 189px;
}
.h1 {
    font-size: 43px;
    line-height: 54px;
    font-weight: 600;
    color: #161a1d;
}
.heading-md {
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    color: #161a1d;
}
.theme-color {
    color: var(--btn-bg-red);
}
.content-p {
    line-height: 27px;
}

/* .bg-white {
    background-color: #fff;
} */

.flex-inner {
    display: flex;
    align-items: flex-start;
}

#iframe-error-modal{
    width: 38%;
}
#iframe-error-modal .btn-flat{
    position: absolute;
    right: 20px;
    top: 20px;
}
#iframe-error-modal .modal-content{
    padding: 45px 20px;
}
#iframe-error-modal .modal-content h3{
    font-size: 30px;
    color: var(--btn-bg-red);
}